.joke-setup {
  font-family: Arial;
  font-size: 24px;
}

.joke-punchline {
  font-family: Arial;
  font-size: 32px;
}

.margin-125 {
  margin-left: 125px;
  margin-right: 125px;
}

.fade-in-text {
    animation: fadeIn 20s;
    -webkit-animation: fadeIn 20s;
    -moz-animation: fadeIn 20s;
    -o-animation: fadeIn 20s;
    -ms-animation: fadeIn 20s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }