<style>
   .margin-125 {
    margin-left: 125px;
    margin-right: 125px;
  }
</style>

<div align="center">
  <h2>Fake User Data</h2>
  <p class="margin-125">This data fetched from ng user.service.ts which is a wrapper around an HttpClient that calls https://jsonplaceholder.typicode.com/users for mock user data.</p>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>EMail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.id }}</td>
        <td>{{ u.name }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
